	@font-face {
	    font-family: 'Wingdings';
	    src: url('../TYPO/wingding.ttf') format('truetype'),
	         url('wingding.svg') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}



      @font-face {
      font-family: 'Minion';
      src: url("../TYPO/MinionPro-Regular.ttf") format('truetype');
      font-style: normal;

  }

      @font-face {
      font-family: 'IBM Plex Mono';
      src: url("../TYPO/IBMPlexMono-Regular.ttf") format('truetype');
      font-style: normal;

  }


        @font-face {
      font-family: 'IBM Plex Mono Italic';
      src: url("../TYPO/IBMPlexMono-Italic.ttf") format('truetype');
      font-style: italic;

  }


html, body{
margin: 0px;
padding: 0px;
 font-family: Consolas;
color: rgb(0,0,0);
overflow: hidden;
  background: rgb(245,245,245) ;
  width: 100vw;
  font-size: 0.9em;
}


.emoji{
	font-family: Wingdings;
	font-size: 1.3em;
}


#entete{
position: relative;
display: flex;
padding-left: 15px;
padding-right: 15px;
  justify-content: space-between;
  line-height: 0.3em;

}

#entete a{
	text-decoration: none;
	color: black;
}



#entete a:hover {
	color: mediumblue;
	text-decoration: underline;
}

#accueil{
}

#contenu_projet{
	width: 100vw;
	height: 92vh;
display: flex;
  position: relative;
  justify-content: space-between;
}




#visuel{
	position: absolute;
	width: 55vw;
	height: 98%;
right: 10px;
}


#photo{
	width:100% ;
	height: 100%;
background-position-x: right;
	background-size: contain;
background-repeat: no-repeat;
background-position-y: bottom;
display: flex;
}


#titre{
	font-size: 1.3em;
}

#sous_titre{
	margin-top: -15px;
	font-size:0.8em;
}
#txt_pres{
	width: 330px;
	margin-left: 200px;
}

#txt{
	margin-top: 10px;
}

#credit{
	position:fixed;
	bottom: 10px;
	left: 15px;
	font-style: italic;
	font-size: 0.8em;
}


.lien_pote{
	color: mediumblue;
	text-decoration: underline;
}


.lien_pote:hover {
	color: black;
	text-decoration: none;
	         text-shadow: 0px 0px 4px rgba(255, 0, 221, 1);
}



#gauche{
	position: absolute;
	height: 100%;
	width: 50%;
}

#droite{
	position: absolute;
	height: 100%;
	width: 50%;
	margin-left: 27.5vw;
}


 /*////FLECHE////*/

      #gauche  #precedent {
        pointer-events: none;
        display: none;
        position:absolute; 
        text-shadow: 0px 0px 8px white, 0px 0px 10px rgba(255, 0, 221, 1), 0px 0px 8px rgba(255, 0, 221, 1); 
         margin:0px;
       -ms-user-select : none; 
  -moz-user-select  : none; 
  -webkit-user-select : none; 
  user-select : none;
      }


      #gauche:hover #precedent {
        display: block;
        position: absolute;
         }


      #gauche:hover {
      	cursor: none;
      }

      #droite:hover {
      	cursor: none;
      }

#suivant, #precedent {
	font-size: 3em;
	font-family: Minion;
}



      #droite  #suivant {
        pointer-events: none;
        display: none;
        position:absolute;
        text-shadow: 0px 0px 8px white, 0px 0px 10px rgba(255, 0, 221, 1), 0px 0px 8px rgba(255, 0, 221, 1);
              -ms-user-select : none; 
  -moz-user-select  : none; 
  -webkit-user-select : none; 
  user-select : none; }


      #droite:hover #suivant {
        display: block;
        position: absolute;
        cursor: none;
         }







#gif{
	position: absolute;

background-repeat: no-repeat;
background-size: contain;
}

#gif_2{
	position: absolute;
	width:70px ;
	height: 70px;
background-repeat: no-repeat;
background-size: contain;
}