:root {
  --couleur_txt: green;
}
	@font-face {
	    font-family: 'Wingdings';
	    src: url('TYPO/wingding.ttf') format('truetype'),
	         url('wingding.svg') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

	@font-face {
	    font-family: 'alegreya';
	    src: url('TYPO/Alegreya-Regular.ttf') format('truetype'),
	    font-weight: normal;
	    font-style: normal;

	}

  @font-face {
      font-family: 'narrow';
      src: url('TYPO/arialnarrow.ttf') format('truetype'),
      font-weight: normal;
      font-style: normal;

  }


html, body{
background: linear-gradient(180deg,rgba(222, 255, 91, 1) 35%, rgba(107, 107, 107, 1) 100%);

margin: 0px;
padding: 0px;
font-size: 1.2em;
  font-family: narrow;
  letter-spacing: 0.1em;  
overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-size: 0.92em;
    color: var(--couleur_txt);


}


#antenne{
background-image:url("img/antenne.gif") ;
height: 100px;
width: 100px;

}



#fond_eclair {
	z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;  
  height: 0;
}


#eclair_1 svg {
  width: 404px;
  height: auto;
  position: absolute;
   transform: translate(-50%, -50%); 
   left: -401px;
   top: -67px;
}


#eclair_2 svg {
  width: 400px;
  height: auto;
  position: absolute;
   transform: translate(-50%, -50%); 
   left: -90px;
   top: -152px;
}

#eclair_3 svg {
  width: 500px;
  height: auto;
  position: absolute;
   transform: translate(-50%, -50%); 
   left: -136px;
   top: 173px;
}

#eclair_4 svg {
  width: 586px;
  height: auto;
  position: absolute;
   transform: translate(-50%, -50%); 
   left: 205px;
   top: -52px;
}

#eclair_5 svg {
  width: 604px;
  height: auto;
  position: absolute;
   transform: translate(-50%, -50%); 
   left: 411px;
   top: 98px;
}


.eclair svg{
	  isolation: isolate;
  mix-blend-mode: screen;
}

.core {
  fill: #D8D8D8;
}

.glow {
fill:#D8D8D8 ;
  filter: blur(8px) drop-shadow(1px 1px 1px #8200FF) drop-shadow(2px 10px 1px #97EBFF)    drop-shadow(0px 0px 10px #ffffff) drop-shadow(0px 0px 20px #ffffff) drop-shadow(0px 0px 30px #ffffff);
  opacity: 0.8;  
}



#dessus{
	z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;  
  height: 0;
}


#img_champs_elec{
	width: 83px;
	height: auto;
	position: absolute;
left:-629px;
top: -191px;}



#img_longueur_onde{
	width: 94px;
	height: auto;
	position: absolute;
left:-513px;
top: 77px;}


#img_radio{
	width: 93px;
	height: auto;
	position: absolute;
left:-360px;
top: -218px;}





#img_antenne{
	width: 144px;
	height: auto;
	position: absolute;
	top: -90px;
	left: 7px;
}

#img_terre{
	width: 69px;
	height: auto;
	position: absolute;
	top: 249px;
	left: -262px;
}


#img_tel{
	width: 60px;
	height: auto;
	position: absolute;
	top: 123px;
	left:-10px;
}

#img_requin{
	width: 102px;
	height: auto;
	position: absolute;
	top: -320px;
	left: -76px;
}


#img_croyance{
	width: 55px;
	height: auto;
	position: absolute;
	top: 128px;
	left: 574px;
}

#img_capteur{
	width: 102px;
	height: auto;
	position: absolute;
	top: -153px;
	left: 301px;
}


#img_arbre{
	width: 79px;
	height: auto;
	position: absolute;
	top: 190px;
	left: 227px;
}

#menu{

	z-index: 3;
		  position: fixed; 
  left: 78vw;
  top: 20px;

}

a{text-decoration: none;
  color: var(--couleur_txt);
}


a:hover{
	text-decoration: underline;
	font-weight: 900;
}


.img_link {
  transition: transform 0.3s ease;
}