	@font-face {
	    font-family: 'Wingdings';
	    src: url('TYPO/wingding.ttf') format('truetype'),
	         url('wingding.svg') format('svg');
	    font-weight: normal;
	    font-style: normal;

	}

  @font-face {
      font-family: 'narrow';
      src: url('../TYPO/arialnarrow.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;

  }


#retour{
  font-family: narrow;
  letter-spacing: 0.1em;  
      transform: scaleX(0.7);

}

    @font-face {
    font-family: 'palace';
    src: url('../TYPO/Palace script.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

 body{
margin: 0px;
font-size: 0.9em;
padding: 20px;
 font-family: narrow;
color: rgb(0,0,0);
overflow: hidden;
 /*background-image:url("img/test_fond.jpg") ;*/
      background-color: #ffffff;
  background-size: cover;
	background-position-y: center;
	background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
    font-size: 0.95em;
    letter-spacing: 0.12em;
    word-spacing: 0.2em;
  color: black;
}

  #gradient_initial {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background: linear-gradient(to top, rgba(255, 0, 231, 0.7) 0%, rgba(255, 0, 231, 0.65) 20%, rgba(255, 0, 231, 0.4) 40%, rgba(255, 0, 231, 0.25) 60%, rgba(255, 0, 231, 0.1) 80%, transparent 100%);
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 2s ease-out;
    z-index: 0;
  }
.emoji{
	font-family: Wingdings;
	font-size: 1.3em;
}



  svg {
    width: 90vw;
    max-width: 800px;
margin-top:10vh;
transform: translate(-50%,0%);
margin-left: 50vw;
  }

  .wiggle {
    animation: wiggle 10s ease-in-out infinite;
  }

  /* chaque électron légèrement désynchronisé */
  .e2 .wiggle { animation-duration: 10.7s; animation-delay: -0.5s; }
  .e3 .wiggle { animation-duration: 8.3s; animation-delay: -1.1s; }
  .e4 .wiggle { animation-duration: 10.5s; animation-delay: -1.8s; }
  .e5 .wiggle { animation-duration: 9.1s; animation-delay: -0.3s; }
  .e6 .wiggle { animation-duration: 10.9s; animation-delay: -2.0s; }
  .e7 .wiggle { animation-duration: 11.4s; animation-delay: -0.9s; }
  .e8 .wiggle { animation-duration: 8.6s; animation-delay: -1.4s; }

  @keyframes wiggle {
    0%,100% { transform: translate(0px,   0px); }
    20%     { transform: translate(2px,  -2px); }
    45%     { transform: translate(-1px,  2px); }
    70%     { transform: translate(2px,   1px); }
    85%     { transform: translate(-2px, -1px); }
  }


  .bord_matos {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

  .fil {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.electron circle {
  stroke: black;
  stroke-width: 1;
  fill: white;
}

.electron text {
  fill: black;
  font-size: 13px;
}


#bas{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  width: 100vw;
}

#legende{
  max-width: 50%;
  text-align: center;
}


    .next-button {
      cursor: pointer;
        font-family: narrow;
  letter-spacing: 0.12em;
    }